_site
.sass-cache
.jekyll-metadata
hint-report/
webp/images/

# environment variables
.env
.env.production

# build output
dist/
# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# jetbrains setting folder
.idea/

# macOS-specific files
.DS_Store

old/