<input
      type="checkbox"
      name="expandNavbar"
      id="expandNavbar"
      aria-label="Toggle Navigation"
    />
<nav class="my-nav">
  <a class="brand" href="/"
    >
    <picture>
      <source srcset="{{ site.logo_webp }}" height="50" width="50" type="image/webp">
      <source srcset="{{ site.logo }}" height="50" width="50" type="image/png">
      <img src="{{ site.logo }}" alt="Link477" height="50" width="50">
    </picture>
    </a>
  <label for="expandNavbar" id="expand-navbar-icon">
    <div class="hamburger"><span></span><span></span><span></span></div>
  </label>
    <div class="inner-nav">
      <ul class="inner-nav-top-level">
        <li>
          <details>
            <summary>FreeCodeCamp</summary>
            <ul>
              <li>Responsive Web Design</li>
              <li>
                <a href="/fccresponsivewebdesign/tributepage">Tribute Page</a>
              </li>
              <li>
                <a href="/fccresponsivewebdesign/surveyform">Survey Form</a>
              </li>
              <li>
                <a href="/fccresponsivewebdesign/productLandingPage"
                  >Product Landing Page</a
                >
              </li>
              <li>
                <a href="/fccresponsivewebdesign/technicalDocPage"
                  >Technical Documentation Page</a
                >
              </li>
              <li>JavaScript Algorithms and Data Structures</li>
              <li>
                <a href="/fccresponsivewebdesign/fccJS"
                  >All five projects on this page</a
                >
              </li>
              <li>Front End Libraries Projects</li>
              <li>
                <a href="/fccresponsivewebdesign/randomquotemachine"
                  >Random Quote Machine</a
                >
              </li>
              <li>
                <a href="/fccresponsivewebdesign/markdownpreviewer"
                  >Markdown Previewer</a
                >
              </li>
              <li>
                <a href="/fccresponsivewebdesign/drummachine">Drum Machine</a>
              </li>
              <li>
                <a href="/fccresponsivewebdesign/calculator"
                  >Javascript Calculator</a
                >
              </li>
              <li>
                <a href="/fccresponsivewebdesign/pomodoroclock">25 + 5 Clock</a>
              </li>
              <li>Data Visualisation Projects</li>
              <li><a href="/fccresponsivewebdesign/barchart">Bar Chart</a></li>
              <li>
                <a href="/fccresponsivewebdesign/scatterplot"
                  >Scatter Plot Graph</a
                >
              </li>
              <li><a href="/fccresponsivewebdesign/heatmap">Heat Map</a></li>
              <li>
                <a href="/fccresponsivewebdesign/choropleth">Choropleth Map</a>
              </li>
              <li>
                <a href="/fccresponsivewebdesign/treemap">Treemap Diagram</a>
              </li>
              <li>Take Home Projects</li>
              <li>
                <a href="https://link477.com/Link477-React/#/weather"
                  >Weather</a
                >
              </li>
              <li>
                <a href="https://link477.com/Link477-React/#/tictactoe"
                  >Tic Tac Toe</a
                >
              </li>
              <li>
                <a href="https://link477.com/Link477-React/#/recipeBox"
                  >Recipe Box</a
                >
              </li>
              <li><a href="/pages/ponggame">Pong Game</a></li>
              <li><a href="/pages/simonGame">Simon Game</a></li>
              <li>
                <a href="/fccresponsivewebdesign/fccforum"
                  >Free Code Camp Forum Homepage</a
                >
              </li>
              <li>
                <a href="https://link477.com/Link477-React/#/gameoflife"
                  >Game of Life</a
                >
              </li>
              <li>Other Projects</li>
              <li><a href="/pages/jspianokeyboard">JavaScript Keyboard</a></li>
            </ul>
          </details>
        </li>
        <li>
          <details>
            <summary>Project Odin</summary>
            <ul>
              <li><a href="/pages/etchasketch.html">Etch A Sketch</a></li>
              <li>
                <a href="https://link477.com/Link477-React/#/rockPaperScissors"
                  >Rock, Paper, Scissors</a
                >
              </li>
              <li>
                <a href="https://link477.com/Link477-React/#/battleship"
                  >Battleship</a
                >
              </li>
              <li>
                <a href="https://link477.com/OdinProject/productLandingPage/"
                  >Product Landing Page</a
                >
              </li>
            </ul>
          </details>
        </li>
        <li>
          <details>
            <summary>Games</summary>
            <ul>
              <li><a href="/colorGridGame/index.html">Colour Grid</a></li>
              <li><a href="/pages/snake.html">Snake</a></li>
            </ul>
          </details>
        </li>
        <li>
          <details>
            <summary>Other</summary>
            <ul>
              <li><a href="/pages/modelrailway.html">Model Railway</a></li>
              <li>
                <a href="https://link477.com/Link477-React/#/terminal"
                  >React Terminal</a
                >
              </li>
              <li><a href="/changelog">Change Log</a></li>
            </ul>
          </details>
        </li>
        <li>
          <details>
            <summary>Data Structures</summary>
            <ul>
              <li>
                <a href="https://link477.com/Link477-React/#/arrays">Arrays</a>
              </li>
              <li><a href="/dataStructuresAlgorithms/lists.html">Lists</a></li>
              <li>
                <a href="/dataStructuresAlgorithms/queues.html">Queues</a>
              </li>
              <li>
                <a href="/dataStructuresAlgorithms/linkedLists.html"
                  >Linked Lists</a
                >
              </li>
              <li>
                <a href="/dataStructuresAlgorithms/dictionaries.html"
                  >Dictionaries</a
                >
              </li>
              <li>
                <a href="/dataStructuresAlgorithms/hashing.html">Hashing</a>
              </li>
              <li><a href="/dataStructuresAlgorithms/sets.html">Sets</a></li>
              <li>
                <a href="/dataStructuresAlgorithms/binaryTrees.html"
                  >Binary Trees</a
                >
              </li>
              <li>
                <a href="/dataStructuresAlgorithms/graphs.html">Graphs</a>
              </li>
              <li>
                <a href="/dataStructuresAlgorithms/sortingAlgorithms.html"
                  >Sorting Algorithms</a
                >
              </li>
              <li>
                <a href="/dataStructuresAlgorithms/searchingAlgorithms.html"
                  >Searching Algorithms</a
                >
              </li>
              <li>
                <a href="/dataStructuresAlgorithms/advancedAlgorithms.html"
                  >Advanced Algorithms</a
                >
              </li>
            </ul>
          </details></li>
        </li>
        <li>
          <details>
            <summary>Blog</summary>
            <ul>
              {%- for post in site.posts -%}
              <li>
                <a href="{{ post.url | relative_url }}"
                  >{{ post.title | escape }}</a
                >
              </li>
              {%- endfor -%}
            </ul>
          </details>
        </li>
        <li><a href="/about">About</a></li>
        <li><a href="/feeds">Feeds</a></li>
        <li>{%- include dark_mode_picker.html -%}</li>
      </ul>
    </div>
</nav>
