<input
  type="checkbox"
  name="expandNavbar"
  id="expandNavbar"
  aria-label="Toggle Navigation"
/>
<nav class="my-nav" aria-label="Main Navigation">
  <a class="brand" href="/" {% if page.url=="/" %}aria-current="page"{% endif %}>
    <picture>
      <source
        srcset="{{ site.logo_webp | absolute_url }}"
        height="50"
        width="50"
        type="image/webp"
      />
      <source
        srcset="{{ site.logo | absolute_url }}"
        height="50"
        width="50"
        type="image/png"
      />
      <img
        src="{{ site.logo | absolute_url }}"
        alt="Link477"
        height="50"
        width="50"
      />
    </picture>
  </a>
  <label for="expandNavbar" id="expand-navbar-icon" class="hamburger">
    <span></span><span></span><span></span>
  </label>
  <div class="inner-nav">
    <ul class="inner-nav-top-level">
      {% for item in site.data.navbar %}
        <li class="dropdown">
          <button
            type="button"
            class="dropdown_title"
            aria-expanded="false"
            aria-controls="{{ item.id }}-dropdown"
          >
            {{ item.name }}
          </button>
          <ul class="dropdown_menu" id="{{ item.id }}-dropdown">
            {% for links in item.items %}
              {% unless item.name == "" %}
                <li>{{ links.name }}</li>
                {% for url in links.links %}
                  <li>
                    <a href="{{ url.href }}" {% if page.url==url.href %}aria-current="page"{% endif %}>{{ url.name }}</a>
                  </li>
                {% endfor %}
              {% else %}
                    {% for url in links.links %}
                    <li>
                      <a href="{{ url.href }}" {% if page.url==url.href %}aria-current="page"{% endif %}>{{ url.name }}</a>
                    </li>
                  {% endfor %}
              {% endunless %}
            {% endfor %}
          </ul>
        </li>
      {% endfor %}
      <li class="dropdown">
        <button
          type="button"
          class="dropdown_title"
          aria-expanded="false"
          aria-controls="blog-dropdown"
        >
          Blog
        </button>
        <ul class="dropdown_menu" id="blog-dropdown">
          {%- for post in site.posts -%}
          <li>
            <a href="{{ post.url | relative_url }}" {% if post.url==page.url %}aria-current="page"{% endif %}
              >{{ post.title | escape }}</a
            >
          </li>
          {%- endfor -%}
        </ul>
      </li>
      <li><a href="/about" {% if page.url=="/about" %}aria-current="page"{% endif %}>About</a></li>
      <li><a href="/feeds" {% if page.url=="/feeds" %}aria-current="page"{% endif %}>Feeds</a></li>
      <li>{%- include dark_mode_picker.html -%}</li>
    </ul>
  </div>
</nav>
