<!DOCTYPE html>
<html lang="en">
	<head>
        <meta charset="utf-8" />
		<title>Tom Fishwick - Advanced Algorithms</title>
		<link rel="icon" href="../images/link477.png"/>
		<link href="../myStyle.css" rel="stylesheet"/>
		<meta content="Tom Fishwick"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.css">
  		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.js"></script>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.js"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>
	<body>
		<div id="navbar"></div>
		<h1>Advanced Algorithms</h1>
		<p>My answers to the exercises in <a href="https://github.com/GauravWalia19/Free-Algorithms-Books/blob/master/Library/src/JAVASCRIPT/Data-Structures-%26-Algorithms-with-JavaScript.pdf">Algorithms &amp; Data Structures with JS</a></p>

        <div id="app">
            <h3>Exercise 1</h3>
            <fieldset>
                <legend>Brute force algorithm to find the longest common substring</legend>
                <label for="string1">String 1:</label>
                <input v-model="string1" type="text" class="form-control" id="string1" name="string1"/>
                <label for="string2">String 2:</label>
                <input v-model="string2" type="text" class="form-control" id="string2" name="string2"/>
                <button v-on:click="bruteForceSubstring" class="btn btn-primary">Find Longest Substring</button>
                <p>Result: {{ longSubstring }}</p>
            </fieldset>
            <h3>Exercise 2</h3>
            <fieldset>
                <legend>Knapsack problem</legend>
                <label for="capacity">Capacity:</label>
                <input v-model="capacity" type="number" id="capacity" name="capacity" class="form-control"/>
                <div v-for="(item, itemIndex) in potentialItems">
                    <h4>Item {{itemIndex + 1}}</h4>
                    <label for="name">Name:</label>
                    <input v-model="item.name" type="text" class="form-control"/>
                    <label for="value">Value:</label>
                    <input v-model="item.value" type="number" class="form-control"/>
                    <label for="weight">Weight:</label>
                    <input v-model="item.weight" type="number" class="form-control"/>
                </div>
                <button class="btn btn-primary" v-on:click="addPotentialItem">Add Potential Item</button>
                <button class="btn btn-primary" v-on:click="knapSackSolution">Solve Knapsack</button>
                <p>Max value: {{knapsackResult}}</p>
            </fieldset>
            <h3>Exercise 3</h3>
            <fieldset>
                <legend>Coin Changing</legend>
                <label for="amount">Amount:</label>
                <input type="number" v-model="amount" class="form-control"/>
                <label for="useDimes">Use Dimes (10c):</label>
                <input type="checkbox" v-model="useDimes"/><br/>
                <button class="btn btn-primary" v-on:click="workoutChange">Solution</button>
                <div v-for="coin in coins">
                    <p v-if="coin.quantity > 0">Number of ${{coin.amt}}: {{coin.quantity}}</p>
                </div>
            </fieldset>
        </div>
        
    	<!-- Load React. -->
  		<!-- Note: when deploying, replace "development.js" with "production.min.js". -->
  		<!--<script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
		<script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>-->
		
		<script src="https://unpkg.com/react@17/umd/react.production.min.js" crossorigin></script>
		<script src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js" crossorigin></script>
		  <!--Component-->
		<script src="../navbarAbs.js"></script>
		
        <!--Vue-->
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>

        <script src="advancedAlgorithms.js"></script>
	</body>
</html>