.page-content,
.site-footer {
  background-color: light-dark(white, black);
  color: light-dark(black, aliceblue);
}

.black {
  color: black;
}

.site-footer .black {
  color: light-dark(black, aliceblue);
}

.sitemap,
.stackoverflow,
.email,
.credly {
  background-color: aliceblue;
}

.home {
  text-align: center;
}

.footer-col-wrapper {
  color: light-dark(#3a3a3a, #828282);
}

pre,
code {
  background-color: #eef;
  color: black;
}

.imgmain {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  height: 250px;
  border-radius: 1%;
}

.top-group {
  text-align: center;
}

.project-title {
  text-align: center;
  display: inline-block;
  width: 200px;
}

.skills-card > h3 {
  font-weight: bold;
  font-size: larger;
}

.modal-title {
  font-size: 1.25rem;
}

#project-modal {
  color: black;
}

.current {
  color: green;
}

.icon-my {
  width: 15px;
  height: 15px;
}

.borderimage {
  border: 1px solid black;
  border-radius: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.centertext {
  text-align: center;
}

.svg-icon {
  width: 32px;
  height: 16px;
  display: inline-block;
  fill: #828282;
  padding-right: 5px;
  vertical-align: text-top;
}

.project-tile {
  max-width: 340px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (width >= 600px) {
  /** for bigger screens float the image next to the text */
  .imgmain {
    float: right;
  }

  h2:nth-of-type(2) {
    clear: both;
  }

  .project-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
  }

  #contact-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .skills-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.site-icon {
  height: 50px;
  width: 50px;
  background-color: white;
}

.post-title {
  text-align: center;
}

.p-category {
  border: 1px solid #000;
  border-radius: 30px;
  padding: 5px;
}

.p-category[data-tag='React'] {
  background-color: orange;
  color: black;
}

.p-category[data-tag='Typescript'] {
  background-color: greenyellow;
  color: black;
}

.p-category[data-tag='Ruby'] {
  background-color: red;
  color: white;
}

.p-category[data-tag='Hosting'] {
  background-color: black;
  color: white;
}

.p-category[data-tag='Python'] {
  background-color: yellow;
  color: black;
}

.p-category[data-tag='Warhammer-40k'] {
  background-color: darkgray;
  color: #b02734;
}

.p-category[data-tag='Space-Marines'] {
  background-color: #41509d;
  color: white;
}

.p-category[data-tag='Data-Science'] {
  background-color: #1cc8ee;
  color: black;
}

.p-category[data-tag='Model-Railway'] {
  background-color: #e6b99a;
  color: black;
}

.p-category[data-tag='Programming'] {
  background-color: green;
  color: white;
}

.p-category[data-tag='Kill-Team'] {
  background-color: #b02734;
  color: white;
}

.p-category[data-tag='Blood-Bowl'] {
  background-color: #264030;
  color: white;
}

.p-category[data-tag='Indie-Web'] {
  background-color: #ff5c00;
  color: black;
}

.p-category[data-tag='Meta'] {
  background-color: greenyellow;
  color: black;
}

.li-no-decoration {
  list-style-type: none;
}

/* from https://pajasevi.github.io/CSSnowflakes/ */

.snowflake-inner {
  animation-iteration-count: infinite;
  animation-play-state: running;
  animation-duration: 10s;
  animation-name: snowflakes-fall;
  animation-timing-function: linear;
}

.snowflake {
  font-size: 1em;
  font-family: Arial, sans-serif;
  text-shadow: 0 0 5px #000;
  animation-iteration-count: infinite;
  animation-play-state: running;
  position: fixed;
  top: -10%;
  z-index: 9999;
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
  pointer-events: none;
  animation-name: snowflakes-shake;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
}

@keyframes snowflakes-fall {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(110vh);
  }
}

@keyframes snowflakes-shake {
  0%,
  100% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(80px);
  }
}

.snowflake:first-of-type {
  left: 10%;
  animation-delay: 1s;
}

.snowflake:first-of-type .snowflake-inner,
.snowflake:nth-of-type(8) .snowflake-inner {
  animation-delay: 1s;
}

.snowflake:nth-of-type(2) {
  left: 20%;
  animation-delay: 0.5s;
}

.snowflake:nth-of-type(2) .snowflake-inner,
.snowflake:nth-of-type(6) .snowflake-inner {
  animation-delay: 6s;
}

.snowflake:nth-of-type(3) .snowflake-inner {
  left: 30%;
  animation-delay: 2s;
}

.snowflake:nth-of-type(11) .snowflake-inner,
.snowflake:nth-of-type(3) .snowflake-inner {
  animation-delay: 4s;
}

.snowflake:nth-of-type(4) {
  left: 40%;
  animation-delay: 2s;
}

.snowflake:nth-of-type(10) .snowflake-inner,
.snowflake:nth-of-type(4) .snowflake-inner {
  animation-delay: 2s;
}

.snowflake:nth-of-type(5) {
  left: 50%;
  animation-delay: 3s;
}

.snowflake:nth-of-type(5) .snowflake-inner {
  animation-delay: 8s;
}

.snowflake:nth-of-type(6) {
  left: 60%;
  animation-delay: 2s;
}

.snowflake:nth-of-type(7) {
  left: 70%;
  animation-delay: 1s;
}

.snowflake:nth-of-type(7) .snowflake-inner {
  animation-delay: 2.5s;
}

.snowflake:nth-of-type(8) {
  left: 80%;
  animation-delay: 0s;
}

.snowflake:nth-of-type(9) {
  left: 90%;
  animation-delay: 1.5s;
}

.snowflake:nth-of-type(9) .snowflake-inner {
  animation-delay: 3s;
}

.snowflake:nth-of-type(10) {
  left: 25%;
  animation-delay: 0s;
}

.snowflake:nth-of-type(11) {
  left: 65%;
  animation-delay: 2.5s;
}
