.page-content,
.site-footer {
  background-color: light-dark(white, black);
  color: light-dark(black, aliceblue);
}

.black {
  color: black;
}

a,
a:visited {
  color: light-dark(#015ed8, #2a7ae2);
}

.site-footer .black {
  color: light-dark(black, aliceblue);
}

.sitemap,
.stackoverflow,
.email,
.credly {
  background-color: aliceblue;
}

.home {
  text-align: center;
}

.footer-col-wrapper {
  color: light-dark(#3a3a3a, #828282);
}

pre,
code {
  background-color: #eef;
  color: black;
}

.imgmain {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  height: 250px;

  img {
    border-radius: 50%;
  }

  @media screen and (width >= 600px) {
    float: right;
  }
}

.img-main-small {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: inline-block;
}

.top-group {
  text-align: center;
}

.project-title {
  text-align: center;
  display: inline-block;
  width: 200px;
}

.project-pre {
  text-wrap: wrap;
}

.project-a {
  color: #015ed8;
}

.skills-card > h3 {
  font-weight: bold;
  font-size: larger;
}

.modal-title {
  font-size: 1.25rem;
}

#project-modal {
  color: black;
}

.current {
  color: green;
}

.icon-my {
  width: 15px;
  height: 15px;
}

.borderimage {
  border: 1px solid black;
  border-radius: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.centertext {
  text-align: center;
}

.svg-icon {
  width: 32px;
  height: 16px;
  display: inline-block;
  fill: #828282;
  padding-right: 5px;
  vertical-align: text-top;
}

.project-tile {
  max-width: 340px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.col-form-label {
  vertical-align: top;
}

fieldset {
  border: none;
}

@media screen and (width >= 600px) {
  h2:nth-of-type(2) {
    clear: both;
  }

  .project-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
  }

  #contact-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .skills-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  #contact-form > .row {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
}

.site-icon {
  height: 50px;
  width: 50px;
  background-color: white;
}

.post-title {
  text-align: center;
}

.p-category {
  border: 1px solid #000;
  border-radius: 30px;
  padding: 5px;
}

.li-no-decoration {
  list-style-type: none;
}

.btn {
  border-radius: 0.375rem;
  padding: 0.375rem 0.75rem;
  border: transparent;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;

  &:hover {
    filter: brightness(0.85);
  }

  &:active {
    filter: brightness(1);
  }
}

.btn-primary {
  background-color: #0d6efd;
  color: white;
  border: solid #0d6efd;
}

.btn-danger {
  background-color: red;
  color: white;
  border: solid red;
}

.mb-3 {
  margin-bottom: 1rem;
}

.form-control {
  background-color: white;
  color: black;
  border-radius: 0.375rem;
  padding: 0.375rem 0;
  width: 100%;
  display: block;
}

th,
td {
  background-color: light-dark(white, black) !important;
  color: light-dark(black, white) !important;
}

.hidden {
  display: none;
}

.post-meta {
  font-size: 14px;
  color: light-dark(black, white);
}

/* Wordle */
.wordle-card {
  border: 1px solid black;
  border-radius: 5px;
  width: 14ch;
  padding: 5px;
}

.meter {
  width: 100%;
  height: 50px;

  &::after {
    content: attr(value);
    left: 40px;
    top: -40px;
    position: relative;
  }
}

.wordle-label {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.wordle-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  @media screen and (width >= 600px) {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
  }

  @media print and (width >= 600px) {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
}

.story {
  border: solid 2px blue;
  border-radius: 50%;
}

.screen-reader-text {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;

  &:focus {
    left: 50%;
    transform: translateX(-50%);
  }
}