/* from https://pajasevi.github.io/CSSnowflakes/ */

.snowflake-inner {
  animation-iteration-count: infinite;
  animation-play-state: running;
  animation-duration: 10s;
  animation-name: snowflakes-fall;
  animation-timing-function: linear;
}

.snowflake {
  font-size: 1em;
  font-family: Arial, sans-serif;
  text-shadow: 0 0 5px #000;
  animation-iteration-count: infinite;
  animation-play-state: running;
  position: fixed;
  top: -10%;
  z-index: 9999;
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
  pointer-events: none;
  animation-name: snowflakes-shake;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  color: #eef;
  background-color: black;
}

@keyframes snowflakes-fall {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(110vh);
  }
}

@keyframes snowflakes-shake {
  0%,
  100% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(80px);
  }
}

.snowflake:first-of-type {
  left: 10%;
  animation-delay: 1s;
}

.snowflake:first-of-type .snowflake-inner,
.snowflake:nth-of-type(8) .snowflake-inner {
  animation-delay: 1s;
}

.snowflake:nth-of-type(2) {
  left: 20%;
  animation-delay: 0.5s;
}

.snowflake:nth-of-type(2) .snowflake-inner,
.snowflake:nth-of-type(6) .snowflake-inner {
  animation-delay: 6s;
}

.snowflake:nth-of-type(3) .snowflake-inner {
  left: 30%;
  animation-delay: 2s;
}

.snowflake:nth-of-type(11) .snowflake-inner,
.snowflake:nth-of-type(3) .snowflake-inner {
  animation-delay: 4s;
}

.snowflake:nth-of-type(4) {
  left: 40%;
  animation-delay: 2s;
}

.snowflake:nth-of-type(10) .snowflake-inner,
.snowflake:nth-of-type(4) .snowflake-inner {
  animation-delay: 2s;
}

.snowflake:nth-of-type(5) {
  left: 50%;
  animation-delay: 3s;
}

.snowflake:nth-of-type(5) .snowflake-inner {
  animation-delay: 8s;
}

.snowflake:nth-of-type(6) {
  left: 60%;
  animation-delay: 2s;
}

.snowflake:nth-of-type(7) {
  left: 70%;
  animation-delay: 1s;
}

.snowflake:nth-of-type(7) .snowflake-inner {
  animation-delay: 2.5s;
}

.snowflake:nth-of-type(8) {
  left: 80%;
  animation-delay: 0s;
}

.snowflake:nth-of-type(9) {
  left: 90%;
  animation-delay: 1.5s;
}

.snowflake:nth-of-type(9) .snowflake-inner {
  animation-delay: 3s;
}

.snowflake:nth-of-type(10) {
  left: 25%;
  animation-delay: 0s;
}

.snowflake:nth-of-type(11) {
  left: 65%;
  animation-delay: 2.5s;
}