---
---

:root {
    --nav-blue: #298fd4;
}

.grid-container {
    display: grid;
    grid-template-columns: 125px auto;
}

.projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 10px;
    column-gap: 10px;
}

.mainContentContainer {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.headerSecondRow {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: 1px solid darkgray;
}

.headerFirstRow {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.headerFirstRowRight {
    text-align: right;
}

.headerFirstRowRight img {
    margin-left: 10px;
    margin-right: 10px;
}

.headerFirstRowRight span {
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
}

.headerFirstRow input {
    border: none;
}

.btns {
    text-align: right;
    vertical-align: middle;
    margin-top: auto;
    margin-bottom: auto;
}

nav {
    background-color: var(--nav-blue);
    color: white;
    vertical-align: middle;
    display: inline-block;
    min-height: 98vh;
}

nav a {
    color: white;
    text-decoration: none;
    display: block;
}

.centerImg {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.headerSecondRowLeft {
    display: grid;
    grid-template-columns: 130px auto;
}

.headerSecondRowLeft h1 {
    font-size: 1.5em;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0em;
    margin-inline-end: 0em;
}

.btns button {
    background-color: var(--nav-blue);
    color: white;
    border-radius: 15px;
    height: 25px;
    width: 75px;
    border-width: 0px;
    margin-left: 5px;
    margin-right: 5px;
}

.projects > div {
    border: 1px solid grey;
    border-radius: 5px;
    border-left: 4px solid orange;
    padding: 10px;
}

main {
    padding-left: 5px;
    padding-right: 5px;
}

.projects legend {
    font-weight: bold;
}

.projects p {
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0em;
    margin-inline-end: 0em;
}

.projects > div > div {
    text-align: right;
}

.projects > div > div img {
    margin-left: 5px;
    margin-right: 5px;
}

.announcements {
    border: 1px solid darkgray;
    border-radius: 5px;
}

.announcements legend {
    font-weight: bold;
}

.announcements p {
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0em;
    margin-inline-end: 0em;
    margin-bottom: 1em;
}

.trending {
    border: 1px solid darkgray;
    border-radius: 5px;
}

.trending > div {
    display: grid;
    grid-template-columns: 40px auto;
}

.trending p {
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0em;
    margin-inline-end: 0em;
    margin-bottom: 1em;
    color: #444444;
}

/* Make things responsive*/
@media screen and (max-width: 600px) {
    .mainContentContainer {
        display: block;
    }

    .projects {
        grid-template-columns: 1fr;
    }

    .headerSecondRowLeft {
        display: grid;
        grid-template-columns: 65px 1fr;
    }

    .headerSecondRow img {
        width: 64px;
    }

    .headerFirstRow input {
        display: block;
    }

    .headerFirstRow {
        display: grid;
        grid-template-columns: 1fr;
    }

    .headerFirstRowRight {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .headerFirstRowRight img {
        margin-left: 0px;
        margin-right: 0px;
    }

    .headerFirstRowRight span {
        margin-left: 0px;
        margin-right: 0px;
    }
}
