.row {
    display: flex;
    /*margin-left: 50px;
    margin-right: auto;*/
    /*float: left;
    width: 300px;
    height: 30px;*/
}

.col {
    border: 1px solid black;
    width: 30px;
    height: 30px;
}

.flex-container {
    width: 300px;
    height: 300px;
}

.hit {
    background-color: red;
}

.ship {
    border: 2px solid grey;
    background-color: grey;
}

td {
    border: 1px solid black;
    width: 30px;
    height: 30px;
    text-align: center;
}

.center {
    text-align: center;
}

.centerItem {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.container {
    display: grid;
    column-gap: 50px;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

.board {
    border: 1px solid black;
    padding: 20px;
}

.grid {
    margin-left: auto;
    margin-right: auto;
}
footer {
    display: none;
}