---
---

body {
  background-color: #c2dcde;
}

canvas {
  border: 1px solid #d3d3d3;
  background-color: #f1f1f1;
}

button {
  border: 1px solid black;
  box-shadow: 2px 2px gray;
  width: 43px;
  height: 25px;
  display: inline-block;
}

.btn {
  border: 1px solid black;
  box-shadow: 2px 2px gray;
  height: 25px;
  display: inline-block;
  background-color: white;
  text-decoration: none;
  color: black;
}

.button {
  width: auto;
  height: auto;
}

button:active {
  box-shadow: 1px 1px gray;
  transform: translateY(1px);
}

.white {
  background-color: white;
}

.white:hover {
  background-color: gray;
}

.red {
  background-color: red;
}

.red:hover {
  background-color: darkred;
}

.blue {
  background-color: blue;
  color: white;
}

.blue:hover {
  background-color: darkblue;
}

.green {
  background-color: green;
  color: white;
}

.green:hover {
  background-color: darkgreen;
}

.purple {
  background-color: purple;
  color: white;
}

.purple:hover {
  background-color: #606;
}

.yellow {
  background-color: #e6e600;
}

.yellow:hover {
  background-color: #cc0;
}

#wrapper {
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 280px;
}

#wrapper1 {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.center {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#home {
  width: 35px;
  height: 35px;
}
