---
---

.my-nav {
  background-color: light-dark(#e3f2fd, #212529);
  color: light-dark(black, #f0f8ff);

  .brand > img {
    background-color: white;
    vertical-align: middle;
  }

  .brand {
    vertical-align: top;
  }

  a,
  a:visited {
    color: light-dark(#015ed8, #559bf7);
  }

  .hamburger {
    float: right;
    margin-top: 15px;
    margin-right: 10px;
    cursor: pointer;

    span {
      height: 3px;
      width: 30px;
      color: black;
      background-color: light-dark(black, #f0f8ff);
      display: block;
      position: relative;
      margin-bottom: 5px;
      transition:
        transform 0.3s ease-in-out,
        opacity 0.3s ease-in-out,
        top 0.3s ease-in-out;
    }
  }

  .inner-nav {
    transition: max-height 0.3s ease-in-out;
    overflow: hidden;

    ul, menu {
      list-style: none;
    }
  }

  a:hover {
    text-decoration: underline;
  }

  .ui-mode-picker {
    padding-block: 0;
    border: none;
    padding-inline: 0;
    margin-inline: 0;
  }
}

#expandNavbar {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

#expandNavbar:checked ~ * .inner-nav {
  max-height: fit-content;
  display: block;
}

#expandNavbar:checked ~ * .hamburger > span:first-child {
  transform: rotate(45deg);
  top: 8px;
}

#expandNavbar:checked ~ * .hamburger > span:nth-child(2) {
  opacity: 0; /* Hide the middle span */
}

#expandNavbar:checked ~ * .hamburger > span:last-child {
  transform: rotate(-45deg);
  top: -8px;
}

.dropdown {
  .dropdown_title {
    background-color: transparent;
    border: none;
    font-family: inherit;
    text-decoration: none;
    text-align: center;
    // display: inline-block;
    font: inherit;
    display: inline-flex;
    align-items: center;

    &:before {
      content: '';
      border: 0.35rem solid transparent;
      border-top-color: light-dark(black, white);
      margin-left: 0.25em;
      transform: rotate(-90deg);
    }
  }

  .dropdown_menu {
    box-shadow: 0 0.15em 0.25em rgba($color:black, $alpha: 0.25);
    border-radius: 4px;
    transform: rotateX(-90deg);
    transform-origin: top center;
    opacity: 0.3;
    //transition: 280ms all ease-out;
    height: 0;
    visibility: hidden;
    transition: 280ms all 120ms ease-out;
  }

  &:hover,
  &:focus-within {
    .dropdown_menu {
      opacity: 1;
      transform: rotateX(0);
      visibility: visible;
      height: fit-content;
    }

    .dropdown_title {
      &:before {
        transform: rotate(0deg);
      }
    }
  }
}

@media screen and (width >= 900px) {
  .my-nav {
    display: grid;
    grid-auto-flow: column;

    .hamburger {
      display: none;
    }

    #expandNavbar {
      display: none;
    }
  }

  .inner-nav {
    max-height: fit-content;
    display: inline-block;
    vertical-align: middle;

    .inner-nav-top-level {
      display: grid;
      grid-auto-flow: column;
      gap: 5px;
    }

    .ui-mode-picker {
      display: inline;
    }
  }
}

@media screen and (width < 900px) {
  .my-nav {
    .inner-nav {
      max-height: 0;
      display: none;
    }
  }
}
