---
---
:root {
    --gradient-colour: #0891b2;
}

.title-pic h1 {
    color: lightgrey;
    display: block;
    z-index: 1000;
    display: inline;
}

.title-text {
    text-align: center;
    bottom: 1rem;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}

.title-pic img {
    position: relative;
}

.title-pic {
    position: relative;
}

.about-me {
    flex: 60%;
    color: black;
    margin-top: auto;
    margin-bottom: auto;
}

.about-me-inner {
    background-color: white;
    color: black;
    padding: 1rem;
    -webkit-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
}

.about-me-links {
    text-align: right;
}

.top-section {
    display: flex;
}

.top-clip {
    background-color: var(--gradient-colour);
    clip-path: polygon(0% 100%, 100% 62%, 100% 0%, 0% 0%);
    width: 100%;
    height: 45%;
    display: block;
    position: absolute;
    z-index: -1;
}

.my-work {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.project-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.border-image {
    max-width: 100%;
    max-height: 350px;
}

.project-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.project-header h3 {
    display: inline;
    margin-block-start: 0;
    margin-block-end: 0;
}

.project-links {
    display: inline;
    height: 16px;
    text-align: right;
}

.project-links img {
    width: 16px;
    height: 16px;
    display: inline;
}

.project-tile {
    -webkit-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
}

footer {
    background-color: var(--gradient-colour);
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    padding: 1rem;
}

.contact-me-links {
    padding-top: 1rem;
}

.contact-me-img {
    text-align: right;
}

@media screen and (max-width: 804px) {
    .top-section {
        display: block;
    }

    .about-me-links {
        text-align: center;
    }

    .top-clip {
        height: 25%;
    }

    .about-me-inner {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

    .project-container {
        display: block;
    }

    .my-work h2 {
        text-align: center;
    }

    footer {
        display: block;
    }

    .project-tile {
        padding-top: 0.5rem;
    }

    .contact-me-img {
        text-align: left;
    }
}

@media screen and (max-width: 900px) and (min-width: 805px) {
    .top-section {
        display: flex;
        align-items: flex-end;
    }
    .about-me {
        /* flex: none; */
        transform: translate(-10%, 10%);
    }

    .title-pic-container {
        width: 400px;
        transform: translate(10%);
    }

    .about-me h2 {
        display: inline-block;
    }

    .title-text {
        transform: translate(120%, -900%);
        z-index: 1000;
    }

    .project-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .contact-me-img {
        text-align: left;
    }
}
