---
---

.key {
  /* float: left; */
  border: 1px solid black;

  /* display: inline-block; */
  position: absolute;
  border-radius: 0% 0% 5px 5px;
  box-shadow: 5px lightgrey;
  padding-right: 5px;
}

.black {
  background-color: black;
  color: ivory;
  z-index: 1;
}

.white {
  background-color: #7ed6e2;
  z-index: 0;
}

.label {
  /* vertical-align: bottom;
    display: table-cell; */
  position: absolute;
  bottom: 0;
  text-align: center;
}

.key-label {
  text-align: center;
}

// #keyboard { position: absolute; user-select: none; }
// .key { position: absolute; bottom: 0; transition: all .05s; }
// .white { background:#fff; border:1px solid #000; }
// .black { background:#000; border:1px solid #000; }
// .label { text-align:center; font-size:10px; }
.playing { transform:translateY(5px); box-shadow:none; }

/* #keyboard > .key :hover {
    background-color: lime;
} */
