---
---

// From https://indieweb.org/printing
html {
  font-family: monospace;
  font-size: 9pt;
  line-height: 1.2em;
}

a,
a:visited,
a:link {
  color: #000;
  text-decoration: underline;
}

a:after {
  content: '(' attr(href) ')';
  display: inline-block;
  width: auto;
  text-decoration: none;
  margin-left: 0.3em;
  font-style: italic;
}

.my-nav,
footer,
#contact-container,iframe {
  display: none;
}

.project-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.skills-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.p-category {
  background-color: white;
  color: black;
}

{% for category in site.data.categories %}
    .p-category[data-tag='{{ category.tag }}'] {
        background-color: white;
        color: black;
    }
{% endfor %}
