---
---
:root {
    --darkBackground: #1f2937;
    --mainHeroTextColor: #f9faf8;
    --heroSecondaryTextColor: #e5e7eb;
    --callToActionColor: #3882f6;
    --informationHeaderTextColor: #1f2937;
    --quoteSectionColor: #e5e7eb;
    --quoteTextColor: #1f2937;
}

header {
    background-color: var(--darkBackground);
}

h1 {
    color: var(--mainHeroTextColor);
}

header p {
    color: var(--heroSecondaryTextColor);
}

h2 {
    font-weight: bolder;
    font-size: 36px;
    color: light-dark(
        var(--informationHeaderTextColor),
        var(--heroSecondaryTextColor)
    );
    text-align: center;
    padding-bottom: 2%;
}

.quoteSection {
    background-color: var(--quoteSectionColor);
    color: var(--quoteTextColor);
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
}

.quoteSectionCitation {
    text-align: right;
    padding-right: 15%;
}

q {
    font-style: italic;
    font-size: 36px;
}

.column {
    float: left;
    width: 50%;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 5%;
    padding-bottom: 1%;
    padding-top: 1%;
}

.row:after {
    content: '';
    display: table;
    clear: both;
}

.pictureSection {
    margin: auto auto;
    padding-top: 1%;
    padding-bottom: 1%;
}

.colTrio {
    float: left;
    width: 33%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.colTrio img {
    border-radius: 3px;
}

.callToAction {
    background-color: var(--callToActionColor);
    border-radius: 5px;
}

.callToActionOuter {
    padding: 1%;
}

.callToAction h3 {
    color: var(--mainHeroTextColor);
}

.callToAction p {
    color: var(--heroSecondaryTextColor);
}

.column75 {
    float: left;
    width: 75%;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 5%;
    padding-bottom: 1%;
    padding-top: 1%;
}

.column25 {
    float: left;
    width: 25%;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 5%;
    padding-bottom: 1%;
    padding-top: 1%;
}

footer {
    background-color: var(--darkBackground);
    color: var(--heroSecondaryTextColor);
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
}

body {
    overflow-x: hidden;
}

html {
    overflow-x: hidden;
}

.btn {
    border-radius: 0.375rem;
    padding: 0.375rem 0.75rem;
    border: transparent;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

.btn-primary {
    background-color: #0d6efd;
    color: white;
    border: solid #0d6efd;
}

.btn-danger {
    background-color: red;
    color: white;
    border: solid red;
}

.btn-info {
    background-color: #0dcaf0;
    color: black;
    border: solid #0dcaf0;
}
