---
---

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

body {
  background-color: #d6e2f0;
}

.card {
  background-color: #fff;
  padding: 10px;
  width: 426px;
  border-radius: 5%;
}

.card-text {
  font-size: 15px;
  color: #7b879d;
  display: block;
}

.qr-pic {
  height: 419px;
  width: 419px;
  background-color: #1f3251;
  border-radius: 5%;
}
