---
---

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

body {
  background-color: #d6e2f0;
}

.card {
  background-color: #fff;
  padding: 5px;
  max-width: 426px;
  border-radius: 5%;

  @media screen and (width < 426px) {
    overflow-x: scroll;
  }
}

.card-text {
  font-size: 15px;
  color: #7b879d;
  display: block;
}

.qr-pic > img {
  max-height: 419px;
  max-width: 419px;
  height: auto;
  width: auto;
  background-color: #1f3251;
  border-radius: 5%;
}
