.fixedBox60 {
    overflow: scroll;
    scrollbar-width: thin;
    height: 60vh;
    overflow-x: hidden;
    background: rgba(255,255,255,0.7);
    border-radius: 5rem;
    padding: 3rem;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
}

.fixedBox30 {
    overflow: scroll;
    height: 20vh;
    overflow-x: hidden;
    scrollbar-width: thin;
    background: rgba(255,255,255,0.7);
    border-radius: 5rem;
    padding: 3rem;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

body {
    background: #a73517; /*24415470, c4caef*/
    background: linear-gradient(90deg, #a73517 0, #bd968c 78%);
}

h1 {
    text-align: center;
}

.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/*Width*/
::-webkit-scrollbar {
    width: 15px;
}

/*Track*/
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/*Handle*/
::-webkit-scrollbar-thumb {
    background: green;
    border-radius: 10px;
}