---
---

// @font-face {
//     font-family: 'Montserrat';
//     src: url('Montserrat-VariableFont_wght.ttf') format('truetype');
// }

:root {
    // font-family: Monserrat, var(--bs-body-font-family);
    --create-button-colour: #596d48;
    --create-button-colour-hover: #596d48e1;
    --input-border: #e5e7eb;
    --invalid-input-border: red;
    --selected-input-border: blue;
    --banner-text-colour: #f2f2f270;
    --figure-text-colour: lightgrey;
}

.column75 {
    /* float: left;
    width: 60%; */
    flex: 60%;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 5%;
    padding-bottom: 1%;
    padding-top: 1%;
    background-color: light-dark(whitesmoke, black);
}

.column25 {
    /* float: left;
    width: 40%; */
    flex: 40%;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 5%;
    padding-bottom: 1%;
    padding-top: 1%;
    /* max-width: 25%; */
}

.row:after {
    content: '';
    display: table;
    clear: both;
}

img {
    max-width: 100%;
}

html {
    overflow-x: hidden;
}

.card-container {
    position: relative;
    width: 100%;
}

.card-image {
    z-index: -1;
    width: 100%;
    /* position: absolute; */
}

/* Get the text next to the logo*/
.banner {
    display: flex;
    position: absolute;
    top: 2.5rem;
    background-color: var(--banner-text-colour);
    width: 100%;
    height: 64px;
}

.banner > figure {
    height: 64px;
}

.banner > figure > img {
    width: 64px;
    height: 64px;
}

.banner > h1 {
    padding-left: 5px;
    padding-top: 10px;
    color: black;
}

.card-image > figure > figcaption {
    position: absolute;
    bottom: 1rem;
    color: var(--figure-text-colour);
}

.card-image > figure > figcaption > a {
    color: var(--figure-text-colour);
}

/*Form*/
label {
    text-transform: uppercase;
    display: block;
}

.formEntry {
    background-color: light-dark(white, black);
    /* -webkit-box-shadow: 0px 5px 15px -5px #000000;
    box-shadow: 0px 5px 15px -5px #000000; */
    /* padding: 2px; */
    border-bottom: 0.5px solid lightgray;

    display: grid;
    grid-template-columns: 1fr 1fr;
}

input {
    border-color: var(--input-border);
    border-radius: 5px;
    border-style: solid;
}

.required:after {
    content: '*';
    color: red;
}

input:invalid {
    border-color: var(--invalid-input-border);
}

input:focus {
    border-color: var(--selected-input-border);
}

#submit {
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: var(--create-button-colour);
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    box-shadow: darkgray 0px 2px 5px 0px;
}

#submit:hover {
    background-color: var(--create-button-colour-hover);
}

#loginLink {
    color: var(--create-button-colour);
    text-decoration: none;
}

.validationMessage {
    color: red;
}

.row {
    display: flex;
}

/* Make things responsive*/
@media screen and (max-width: 600px) {
    .column25,
    .column75 {
        width: 100%;
    }

    /* .card-image {
        position: relative; 
    } */

    .formEntry {
        display: block;
    }

    input {
        width: 100%;
    }

    .column75 {
        padding-bottom: 2rem;
    }

    .row {
        display: block;
    }
}
