---
---

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
  max-width: 400px;
  margin: auto;
  box-sizing: border-box;
}

.grid-item {
  border: 1px solid black;
  padding: 20px;
}

.button {
  cursor: pointer;
  outline: none;
  border: none;
  box-shadow: 0 9px #999;
  max-width: 200px;
  height: 200px;
  display: inline-block;
  align-items: flex-start;
}

.button:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.red {
  border-radius: 50%;
  background-color: red;
}

.active-button {
  filter: brightness(85%);
}

.yellow {
  border-radius: 50%;
  background-color: yellow;
}

.green {
  border-radius: 50%;
  background-color: green;
}

.blue {
  border-radius: 50%;
  background-color: blue;
}

h1 {
  text-align: center;
}

.display-none {
  display: none;
}

.display-block {
  display: block;
}
