---
---

:root {
    --green: hsl(75, 94%, 57%);
    --white: hsl(0, 0%, 100%);
    --grey700: rgb(51, 51, 51);
    --grey800: rgb(31, 31, 31);
    --grey900: rgb(20, 20, 20);
}

body, .page-content {
    background-color: var(--grey900);
}

.sl-container {
    margin: auto;
    text-align: center;
    background-color: var(--grey800);
    font-size: 14px;
    padding-top: 2.5rem;
    padding-bottom: 1rem;
    color: var(--white);
    border-radius: 1.5rem;
    max-width: 350px;
    margin-top: 25%;

    img {
        border-radius: 50%;
    }

    li {
        list-style: none;
        padding-bottom: 0.5rem;
    }

    a {
        background-color: var(--grey700);
        border-radius: 0.375rem;
        padding: 0.375rem 0rem;
        border: transparent;
        display: inline-block;
        text-align: center;
        text-decoration: none;
        vertical-align: middle;
        width: 95%;
        cursor: pointer;
        color: var(--white);

        &:hover {
            background-color: var(--green);
            color: var(--grey900);
        }

        &:active {
            filter: brightness(1);
        }
    }

    :nth-child(3) {
        color: var(--green);
    }

    ul {
        margin-left: 0;
    }
}