---
---
@import "main";
@import "snowflake";

{% for category in site.data.categories %}
    .p-category[data-tag='{{ category.tag }}'] {
        background-color: {{ category.background }};
        color: {{ category.colour }};
    }
{% endfor %}