<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  <!-- CSS only -->
<link href="/assets/css/bootstrap.min.css" rel="stylesheet">
<!-- JavaScript Bundle with Popper -->
<script src="/assets/js/bootstrap.bundle.min.js"></script>

  {%- include head_modified.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>
    {%- include footer.html -%}

  </body>

</html>
