---
layout: default_modified
---
<!-- <link rel="preload" href="/assets/css/main.css" as="style" onload="this.rel='stylesheet'"> -->
<!-- <noscript><link rel="stylesheet" href="/assets/css/main.css"></noscript> -->
<script>
  if ("serviceWorker" in navigator) {
  navigator.serviceWorker.register("/service-workers.js");
}
</script>
<div class="home">
  {{ content }}

  {%- if site.posts.size > 0 and 1 == 1 -%}
    <hr/>
    <div class="h-feed hfeed">
      <a class="u-url p-name p-author u-author" hidden="hidden" href="{{ site.site_url | relative_url }}">{{ site.title | escape }}</a>
      <h2 class="post-list-heading p-name">{{ page.list_title | default: "Posts" }}</h2>
      <ul class="post-list">
        {%- for post in site.posts limit:10 -%}
        <li class="h-entry hentry">
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
          <span class="post-meta dt-published published"><date datetime="{{ post.date | date_to_xmlschema}}">{{ post.date | date: date_format }}</date></span>
          <h3>
            <a class="post-link u-url" href="{{ post.url | relative_url }}">
              <h3 class="p-name entry-title">{{ post.title | escape }}</h3>
            </a>
          </h3>
          {%- if site.show_excerpts -%}
            <div class="p-summary entry-summary">
              {{ post.excerpt }}
            </div>
          {%- endif -%}
        </li>
        {%- endfor -%}
        {%- if site.posts.size > 10 -%}
        <li>
          <a href="/posts">More Posts</a>
        </li>
        {%- endif -%}
      </ul>
    </div>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%}

</div>
